<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Elderly fraud consulting</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    {{ with .Params.hero_section}}
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row gy-4 d-flex justify-content-center">
          <div
            class="col-lg-9 order-2 order-lg-1 d-flex flex-column justify-content-center text-center align-items-center"
          >
            <img src="{{.image}}" alt="LOGO" class="img-fluid mb-3" />
            <h2 data-aos="fade-up">{{.title}}</h2>
            <p data-aos="fade-up" data-aos-delay="100">{{.content}}</p>

            <div class="hero-btn mb-5">
              {{ with .button}}
              <a href="{{.link}}">{{.label}}</a>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </section>
    {{end}}
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= Featured Services Section ======= -->
      {{with .Params.featured}}
      <section id="featured-services" class="featured-services">
        <div class="container">
          <div class="row gy-4">
            {{range.cards}}
            <div
              class="col-lg-4 col-md-6 service-item d-flex"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon flex-shrink-0">
                <i class="{{.icon}}"></i>
              </div>
              <div>
                <h4 class="title">{{.title}}</h4>
                <p class="description">{{.content}}</p>
                {{with .button}}
                <a
                  href="{{.link}}"
                  class="readmore stretched-link"
                  role="button"
                  data-bs-toggle="modal"
                  ><span>{{.label}}</span> <i class="{{.icon}}"></i
                ></a>
                {{end}}
              </div>
            </div>
            {{end}}
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      {{end}}
      <!-- End Featured Services Section -->

      <!-- ======= Call To Action Section ======= -->
      {{with .Params.call_to_action}}
      <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="zoom-out">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3>{{.title}}</h3>
              <p>{{.content}}</p>
              {{with .button}}
              <a
                class="cta-btn"
                data-bs-toggle="modal"
                href="{{.link}}"
                role="button"
                >{{.label}}</a
              >
              {{end}}
            </div>
          </div>
        </div>
      </section>
      {{end}}
      <!-- End Call To Action Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      {{with .Params.faqs}}
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <span>{{.title}}</span>
            <h2>{{.title}}</h2>
          </div>

          <div
            class="row justify-content-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-10">
              <div class="accordion accordion-flush" id="faqlist">
                {{ range $index, $item := .items }}

                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-content-{{ $index }}"
                    >
                      <i class="bi bi-question-circle question-icon"></i>
                      {{.q}}
                    </button>
                  </h3>
                  <div
                    id="faq-content-{{ $index }}"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist"
                  >
                    <div class="accordion-body">{{.a}}</div>
                  </div>
                </div>
                {{end}}
                <!-- # Faq item-->
              </div>
            </div>
          </div>
        </div>
      </section>
      {{end}}
      <!-- End Frequently Asked Questions Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container mt-4">
        <div class="copyright">
          &copy; Copyright
          <strong><span>RAISE ELDERY ORGANIZATION</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Developed by <a href="https://sual-soft.com/">S U A L SOFT</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!--Toggle 1-->
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">
              Add your details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="https://formspree.io/f/xwkjjlky" method="POST">
              <div class="mb-3">
                <label for="exampleInputname" class="form-label"
                  >Your full name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputname"
                  name="name"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="email"
                  aria-describedby="emailHelp"
                  required
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="contact" class="form-label">Contact Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="contact"
                  name="contact"
                  required
                />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModalToggle2"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Hide this modal and show the first with the button below.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary"
              data-bs-target="#exampleModalToggle"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Back to first
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
